@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Dance Academy Name:Vasanth ID:C0790134</title>
    <meta charset="utf-8">
    <style>
        p {
            text-align: left;
            color: navy;
            display: block;
            margin-top: 4em;
            margin-bottom: 4em;
            margin-left: 2em;
            margin-right: 2em;
        }
    </style>
</head>
<body>
    <div id="container">

        <header>
            <a href="Index.html"><img src="Images/DanceAcademyLogo.PNG" alt="Dance Academy logo" height="180" width="800"></a>
        </header>
        <nav>
            <a href="Index.html">Main Page</a> &nbsp; &nbsp;
            <a href="about.html">About Us</a> &nbsp; &nbsp;
            <a href="Dancestyles.html">Dance Styles</a> &nbsp; &nbsp;
            <a href="Danceinstructor.html">Dance Instructor</a> &nbsp; &nbsp;
            <a href="contact.html">Contact Us</a>
        </nav>
        <!-- Use the main area to add the main content of the webpage -->
        <main>
            <br>
            <P>
                One of the top Western Dance school. Dance Academy was set up in 2005 and currently has over 4000 students coming in yearly. They have 5 branches across the city. We have tie-ups with educational institutions and other organisations.

                We have been teaching Jazz, Hip Hop, and Salsa very well, for decades now. We have a professional dance team that participates in competitions across the world. We are friendly to beginners and have classes in all flexible timings.
            </P>
            <br>
        </main>

        <!-- Use the footer area to add webpage footer content -->
        <footer>
            <hr>
            &copy; Copyright 2020. All Rights Reserved.<br>
            <a href="mailto:c0790134@mylambton.ca">	&gt;	&gt;To reach us click here	&lt;	&lt;</a>
            <br>Page created by Vasanth (ID:C0790134) hello
            <hr>
        </footer>

    </div>
</body>

